Flink/JAR_FILE/bigdatabench-flink-0.10.0.jar filter=lfs diff=lfs merge=lfs -text
Hadoop/apache-mahout-0.10.2-compile/examples/target/mahout-examples-0.10.2-job.jar filter=lfs diff=lfs merge=lfs -text
Spark/FFT/transform-operation/spark-fft/out/artifacts/spark_fft_jar/spark-fft.jar filter=lfs diff=lfs merge=lfs -text
